body {
    background-image: url("./resources/images/bg/default_v1.0.png");
    overflow: hidden;
}

#launch-game-btn {
    display: block;
    position: absolute;
    bottom: 60px;
    right: 160px;
    width: 250px;
    height: 80px;
    border-radius: 6px;
    font-size: 32px;
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #ffc450;
    color: #704a1d;
}

#launch-game-btn:hover {
    background-color: #ffcc6c;
}

#launch-game-btn:active {
    background-color: #ffbc3b;
}

#sidebar-container {
    position: absolute;
    right: 0px;
    width: 95px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: 22.5px;
}

.sidebar-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 7px;
    top: 7px;
}

#mys-icon {
    top: 45px;
}

#wiki-icon {
    top: 90px;
}

#github-icon {
    top: 135px;
}

#settings-icon {
    top: 180px;
}